<h1><%= @team_name %></h1>

<br>

<h2>Team Motto: <%= @team_motto %></h2>

<br>

<h3>Hero Name: <%= @hero_1 %></h3>

<br>

<p>Hero Power: <%= @hero_1_power %></p>
<p>Hero Biography: <%= @hero_1_bio %></p>

<h3>Hero Name: <%= @hero_2 %></h3>

<br>

<p>Hero Power: <%= @hero_2_power %></p>
<p>Hero Biography: <%= @hero_2_bio %></p>

<h3>Hero Name: <%= @hero_3 %></h3>

<br>

<p>Hero Power: <%= @hero_3_power %></p>
<p>Hero Biography: <%= @hero_3_bio %></p>